name: Deploy to Cloudflare Workers

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Install wasm-pack
        uses: jetli/wasm-pack-action@v0.4.0

      - name: Install dependencies
        run: npm install

      - name: Build Wasm
        run: wasm-pack build src/rust --out-dir src/rust/pkg

      - name: Build Worker for obfuscation
        run: npx wrangler deploy --dry-run --outdir dist --name vless-proxy-worker

      - name: Find Worker JS file
        id: find_worker_file
        run: |
          file_path=$(find dist -type f -name "*.js" | head -n 1)
          echo "Found worker file: $file_path"
          echo "worker_file=$file_path" >> $GITHUB_OUTPUT
      
      - name: Obfuscate Worker JS
        run: npx javascript-obfuscator ${{ steps.find_worker_file.outputs.worker_file }} --output ${{ steps.find_worker_file.outputs.worker_file }}

      - name: Deploy to Cloudflare Workers
        run: npx wrangler deploy ${{ steps.find_worker_file.outputs.worker_file }} --name vless-proxy-worker
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
